body {
  background-color:#f8f9fa;
  color: #262729;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

td {
  border: 1px solid #c6c7c8;
}

.topnav {
  background-color: #65737e;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: rgb(235,245,235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  font-size: 21px;
}

.topnav a:hover {
  background-color: #3f4851;
  color: #f8f9fa;
}

.topnav a.active {
  background-color: #343d46;
  color: rgb(235,245,235);
  border-right: 3px solid #373f47;
  border-left: 3px solid #373f47;
}

.center {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: 55%;
  width: 15%;
  }

  .gekdingetje {
    margin-left: 20px;
  }