body {
  background-color:#f8f9fa;
  color: #c6c7c8;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #9e9fa0;
}

td {
  border: 1px solid #848388;
}

.topnav {
  background-color: #65737e;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: rgb(235,245,235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  font-size: 21px;
}

.topnav a:hover {
  background-color: #3f4851;
  color: #f8f9fa;
}

.topnav a.active {
  background-color: #343d46;
  color: rgb(235,245,235);
  border-right: 3px solid #373f47;
  border-left: 3px solid #373f47;
}

.body-content {
  margin: 20px;
  word-wrap: normal;
}

.img {
  width: 220px;
  float: right;
  margin-right: 900px;
  height: 280px;
}

table {
  width: 700px;
}

.check {
  background-color: rgb(1, 70, 1)
}

.pech {
  background-color: rgb(255,0,0)
}

hr {
  margin-left: 0;
}

iframe {
  border: transparent;
}

.index-img {
  margin-right: 40%;
  height: 310px;
}

.beroepsbeeld-img {
  height: 100px;
}

.bullets {
  list-style-type: none;
}

hr {
  width: 50%;
}